body{
  background-image: url("img/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  
}

th, td {
  border: 1px solid rgb(143, 103, 103);
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(239, 173, 50);
  font-weight: bold;
}

td {
  text-align: center;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:nth-child(odd){
  background-color: #cfcece;
}

.group-name {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}



.group-name:hover {
  font-weight: bold;
  text-transform: uppercase;
  /* display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center; */
}


.group-name:hover .izmeniBtn{
  opacity: 1;
  cursor: pointer;
  /* background-color: #a4942e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap; */
}

.izmeniDrzavu{
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  width: 0;
}


.zakljucajGrupuBtn{
  appearance: none;
  background-color: #2e59a4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 2vh;
}


.points {
  font-weight: bold;
}

.jumbotron {
  padding:30vh;
  background-image:linear-gradient(rgba(190, 160, 155, 0.418), rgba(255,255,255,.5)), url("img/cover4.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: .3rem;  
  font-family: Georgia, serif;
  font-style:oblique;
  text-align: center;

}

.jumbotronNaslov{
  font-size: 10vh;
  width: 100%;
  background:-webkit-linear-gradient(#ec1414, #4a3b5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.jumbotronPodnaslov{
  font-size: 5vh;
  background:-webkit-linear-gradient(#000000, #a060e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotronTekst{
  font-size: 4vh;
  font-weight:600;
  background:-webkit-linear-gradient(#030303, #6d05e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .navigationBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(rgba(235, 148, 223, 0.418), rgba(255,255,255,.5));
  color: rgb(70, 70, 70);
  font-family: 'Verdana, sans-serif';
 
}

.stavka{
  padding: 3vh 20vh;
  font-style: bold;
  color:#e6dee1;
  text-decoration: none;
  font-size: 3vh;
} 

.stavka:hover{
  color:#e21f66;
} */

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1; 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.stadioni{
  display: flex;
  flex-direction: row;
  margin-top:30px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.stadion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(210, 179, 179);
  color: #d10956;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 30%;
}

.stadionSlika{
  margin-top: 20px;
  width: 70%;
  height: 70%;
  border-radius: 15px;
  align-self: center;
}

.grupaContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 10vh;
  width: 100%;
}

.grupa{
  text-align: center;
  width: 25%;
  margin: 2vh;
}

.grupa table tr:hover{
  background-color: #a6b3c5
}

.grupaTabela{
  border: 1px solid black;
  /* margin-top: -2vh; */
  text-align: center;
}

.grupaNaziv{
  text-align: center;
  width: 300px;
}

.zastavaDrzave{
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.grupnaFazaContainer{
  width: 100%;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.selectDrzava{
  margin-bottom: 3vh;
}

.selectIzmenjenaDrzava{
  width: 100%;
  height: 10%;
  font-size: x-small;
  margin-bottom: 18%;
}

.selectIzmenjenaDrzavaContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dodajGrupu{
  background-image: linear-gradient(rgba(250, 145, 162, 0.418), rgba(255,255,255,.5)),  url("img/background.jpg");
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:auto;
  margin-top: 10vh;
  padding-bottom: 5vh;

  /* font-style: oblique; */
  font-weight: 700;
  text-align: center;
  font-family:'Courier New', Courier, monospace ;
}

.selectDrzava{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.dodajGrupuBtn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 2vh;
}



.dodajGrupuBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.dodajGrupuBtn:hover {
  background-color: #2c974b;
}

.dodajGrupuBtn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.dodajGrupuBtn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.dodajGrupuBtn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.odustaniBtn{
  appearance: none;
  background-color: #a42e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.odustaniBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.odustaniBtn:hover {
  background-color: #972c2c;
}

.odustaniBtn:focus {
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.odustaniBtn:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.odustaniBtn:active {
  background-color: #8e2929;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.btnContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.sesir{
  margin-bottom: 20px;
}

.selectZastava{
  height: 15px;
  width: 25px;
  border: 0.5px solid black;
}

.izborSviStadioni{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5vh;

}

.izborStadion{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  border-radius: 15px;
  background-color: rgb(210, 179, 179);
  width: 30%;
  margin: 10px 10px;

}

.izborStadionSlika{
  width: 40%;
  margin-top: 2vh;
  border-radius: 15px;
  border: 5px solid black;
}

.izborStadion img:hover{
  border-color: rgb(48, 48, 179);
}

.izborDrzava{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zakaziUtakmicuContainer{
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.izaberiDrzavu{
  width: 30%;
}

.stadioniGrupe{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  font-style: oblique;
  text-align: center;
  font-weight: 600;
}

.utakmicaContainer{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.checkbox-wrapper input[type="checkbox"] {
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

input.checked {
  background-color: #007a7e;
  position: relative;
}

input.checked::before {
  content: "2714";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.rezultatInput{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rezultatInput input{
  width: 30%;
}

.rezultatContainer{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.otkaziIzmeneBtn{
  width: 100%;
  appearance: none;
  background-color: #a42e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 2px;
  /* padding: 6px 10px; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 2vh;
}

.otkaziIzmeneBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.otkaziIzmeneBtn:hover {
  background-color: #972c2c;
}

.otkaziIzmeneBtn:focus {
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.otkaziIzmeneBtn:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.otkaziIzmeneBtn:active {
  background-color: #8e2929;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}



.sacuvajIzmeneBtn {
  width: 100%;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 2px;
  /* padding: 6px 10px; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  /* margin-top: 2vh; */
}



.sacuvajIzmeneBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.sacuvajIzmeneBtn:hover {
  background-color: #2c974b;
}

.sacuvajIzmeneBtn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.sacuvajIzmeneBtn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.sacuvajIzmeneBtn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.sacuvajOtkaziBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.izmeniBtn {
  width: 100%;
  appearance: none;
  background-color: #a4832e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 2px;
  /* padding: 6px 10px; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  /* margin-top: 2vh; */
}



.izmeniBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.izmeniBtn:hover {
  background-color: #975e2c;
}

.izmeniBtn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.izmeniBtn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.izmeniBtn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.utakmiceTabela{
  width: 70%;
}


.utakmiceTabela th{
  text-align: center;
  font-size: larger;

  
}

.tdDomacin{
  background-color: #839c93;
  font-weight: 600;
  font-size: large;
}

.tdGost{
  background-color: #9c8783;
  font-weight: 600;
  font-size: large;

}

.vremeUtakmiceContainer{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
  font-style: oblique;
  font-weight: 600;
  padding: 2vh;
  background-color: rgb(210, 179, 179);
}

.datePicker{
  margin-top: 1vh;
  height: 3vh;
}